<mat-card>

  <mat-card-title>
    {{ task.titulo }}
  </mat-card-title>

  <mat-card-content>

    <p>{{ task.descricao }}</p>

    <span
      class="status"
      [class.done]="task.concluida">

      {{ task.concluida ? 'Concluída' : 'Pendente' }}

    </span>

  </mat-card-content>

<mat-card-actions>

  <button
    mat-flat-button
    color="primary"
    [routerLink]="['/edit', task.id]">

    <mat-icon>edit</mat-icon>
    Editar

  </button>

  <button
    mat-flat-button
    color="warn"
    (click)="deleteTask()">

    <mat-icon>delete</mat-icon>
    Excluir

  </button>

</mat-card-actions>

</mat-card>