<div class="dashboard">

    <section class="stats">

        <div class="stat-card total">

            

            <div class="icon">
                <mat-icon>assignment</mat-icon>
            </div>

            <div>

                <h3>Total</h3>

                <span>{{ totalTasks }}</span>

            </div>

        </div>

        <div class="stat-card success">

            <div class="icon"> <mat-icon>task_alt</mat-icon> </div>

            <div>

                <h3>Concluídas</h3>

                <span>{{ completedTasks }}</span>

            </div>

        </div>

        <div class="stat-card warning">

            <div class="icon"><mat-icon>schedule</mat-icon></div>

            <div>

                <h3>Pendentes</h3>

                <span>{{ pendingTasks }}</span>

            </div>

        </div>

    </section>

    <div *ngIf="loading" class="loading">

        <mat-spinner></mat-spinner>

    </div>

    <div *ngIf="!loading && tasks.length===0" class="empty">

        Nenhuma tarefa cadastrada.

    </div>

    <section *ngIf="!loading" class="grid">

        <app-task-card *ngFor="let task of filteredTasks" [task]="task" (delete)="deleteTask($event)"
            (toggle)="toggleStatus($event)">
        </app-task-card>

    </section>

</div>